* {
    font-family: Montserrat;

}

.bodyCon {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.title {
    color: #000000;
    position: absolute;
    font-weight: 300;
    top: 50px;
    left: 2%;
}

.menuTitle {
    font-size: 17px;
    font-weight: 700;
}

#copyright {
    font-size: 13px;
}

#imageHolder{
    height: 158px;
    overflow: hidden;
}

#image {
    margin-top: -350px;
}

#mainMenu {
    position: absolute;
    top: 59px;
    right: 2%;
}

.menuButton {
    padding-left: 25px;
}

a {
    text-decoration: none;
    color: #000000;
}

a:visited {
    color: #000000;
}

a.active{
    padding-left: 20px;
    color: #f0f0f0;
}

#browseForm {
    position: fixed;
    margin-top: 20px;
    left: 32%;
}

#contactForm {
    position: fixed;
    margin-top: 20px;
    left: 37%;

}

#intBook {
    width: 800px;
    align-content: center;
}

#tableBooks {
    position: fixed;
    margin-top: 60px;
    text-align: center;
    left: 36%;
    
}

#tableMyBooks {
    position: fixed;
    text-align: center;
    left: 36%;
}

th,td {
    border: 1px solid black;
    padding: 10px 25px 10px 25px;
}

.reserveButtonCell {
    border: none;
}

.footer {
    position: fixed;
    bottom: 0px;
    text-align: center;
    width: 100%;
}

.footerNav {
    padding-left: 20px;
}